.viewer{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: 100vh;

	.viewer-image{
		max-width: 100vw;
		max-height: 80vh;
	}

	.navigation-next{
		position: absolute;
		width: 50vw;
		height: 100vh;
		max-width: 150px;
		background: transparent;
		z-index: 1;
		top: 0;
		right: 0;
	}

	.navigation-back{
		position: absolute;
		width: 50vw;
		height: 100vh;
		max-width: 150px;
		background: transparent;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.additional-page{
		z-index: 3;
	}
}

.viewer-header{
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 1em;
	box-sizing: border-box;
	z-index: 10;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	background: $primary-color;
	color: $white;
}