$font-color: #222222;

.select_friend_screen {
  color: $font-color;

  &__top {
    text-align: center;
    margin-bottom: 50px;
    &__title {
      font-weight: bold;
    }

    &__search {
      &__input {
        width: 70%;
        height: 30px;
        border-radius: 2%;
        border-color: #686868;
      }
    }
  }
}

.modal_background {
  text-align: center;
  margin: 200px auto;
  width: 80%;
  height: 350px;
  background-color: white;

  textarea {
    margin-top: 15px;
  }
}
