.tabBar{
	position: fixed;
	top: 50px;
	width: 100vw;
	height: 70px;
	z-index: 10;

	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	
	.tabBar-item{
		background: $primary-color;
		padding-top: 1em;
		padding-bottom: .5em;

		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.tabBar-item-icon{
			margin-right: 0.5em;
		}

		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		color: $white;
		
		transition: border-color 0.4s, font-size 0.1s;

		&.tabBar-item-selected{
			font-size: 100%;
			
			border-bottom: 6px solid #ffc9c9;
		}
	}

}