$header-color: rgb(118, 165, 118);
$button-color: #5ab9e3;
$hover-button-color: #4a91af;

.book-purchase-page{
	display: flex;
	flex-direction: column;

	.upper-area{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 50%;

		.book-img{
			flex: 1;
		}
		.book-title{
			flex: 1;
		}
		.book-price{
			margin-top: 1em;
			font-weight: bold;
			font-size: 120%;
		}
	}

	.purchase-button{
		cursor: pointer;
		text-align: center;
		background: $button-color;
		color: white;
		font-weight: bold;
		border-radius: 2em;
		padding: .5em 1em;
		margin: 2em 1em;
		border: 3px solid $hover-button-color;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);

		&:hover{
			background: $hover-button-color;
		}
	}

	.section{
		padding: 1em 0em;

		.section-header{
			font-size: 100%;
			background: $header-color;
			color: white;
			padding: .25em .5em;

			h1{
				margin: 0;
			}
		}

		.section-body{
			margin: 1em .5em;
		}
	}
}